body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: pink;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.friends {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.friend {
    text-align: center;
}

.friend img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
